<!DOCTYPE html>
<html>
  <head>
    <title>jQuery getJSON() Method</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Script to get JSON file and display its content -->
    <script type="text/javascript" language="javascript">
      $(document).ready(function () {
        $("button").click(function () {
          alert($(this).id);
        });
        function DeleteUser(id) {
          console.log("Xóa nè");
          $.ajax({
            url: "http://localhost:5114/api/user?id=" + id,
            method: "DELETE",
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
              // handle success

              location.reload(true);
            },
            error: function (request, msg, error) {
              // handle failure
            },
          });
        }
        function RemoveUser(id) {
          console.log(id);
          // $.ajax({
          //     url: 'http://localhost:5101/api/user',
          //     type: 'DELETE',
          //     contentType: 'application/json',
          //     data: JSON.stringify({
          //         ID:id,
          //     }),
          //     dataType: 'json'
          // });
        }

        $("#fetch").click(function (event) {
          $.getJSON("http://localhost:5101/api/user", function (emp) {
            for (var i = 0; i < emp.length; i++) {
              //   $("div").append("<p> id: " + emp[i].id + "</p>");
              //   $("div").append(
              //     "<p> displayName : " + emp[i].displayName + "</p>"
              //   );
              //   $("div").append("<p> email: " + emp[i].email + "</p>");
              //   $("div").append("<p> phone: " + emp[i].phone + "</p>");
              //   $("div").append(
              //     "<p> dateOfBirth: " + emp[i].dateOfBirth + "</p>"
              //   );
              //   $("div").append("<p> address: " + emp[i].address + "</p>");
              $("div").append(
                // $("button")
                //   .text("xxxx")
                //   .click(function () {
                //     alert("ddd");
                //   })
                <button
                  onclick="DeleteUser(\'' + emp[i].id + '\')"
                  class="btn btn-danger"
                ></button>
              );
            }
          });
        });
      });

      $(document).ready(function () {
        $("#add").click(function (event) {
          window.location.href = "adduser.html";
        });
      });
    </script>
  </head>

  <body>
    <h1>List User</h1>

    <div id="display" style="background-color: #39b54a"></div>
    <input type="button" id="fetch" value="Show List User" />
    <input type="button" id="add" value="Add User" />
  </body>
</html>
